/************************  *************************/

/* 	      Forms & Inputs - Desktop  	       	   */

/************************  *************************/

// <form> Defines an HTML form for user input
// <input> Defines an input control
input {
    background: var(--poncho_grey);
    border: 0;
    border-radius: 10px;

    &:read-only {
        cursor: pointer;
    }
}

// <input[type="checkbox"]
// input[type="radio"]
// <textarea> Defines a multiline input control (text area)
// <button>	Defines a clickable button
button,
.button {
    background: var(--poncho_white);
    border: 0;
    border-radius: 25px;
    box-shadow: none;
    color: var(--poncho_white);
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    margin: 5px 5px 5px 0;
    padding: 10px 20px;
    position: relative;
    text-transform: uppercase;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        background: var(--poncho_white);
        color: var(--poncho_white);
    }
}

// <select>	Defines a drop-down list
select {
    background: var(--poncho_blue);
    border: 2px solid var(--poncho_white);
    border-radius: 5px;
    color: var(--poncho_white);
    cursor: pointer;
    margin: 0 0 20px;
    padding: 10px;
    width: 100%;

    &:focus-visible {
        outline-offset: -1px;
    }
}

// <optgroup> Defines a group of related options in a drop-down list
// <option>	Defines an option in a drop-down list
// <fieldset> Groups related elements in a form
// <label> Defines a label for an <input> element
// <legend>	Defines a caption for a <fieldset> element
// <datalist> Specifies a list of pre-defined options for input controls
// <output>	Defines the result of a calculation

/************************  *************************/

/* 	       Forms & Inputs - Mobile   	       	   */

/************************  *************************/

// @include media("xxl") {}

// @include media("xl") {}

// @include media("lg") {}

// @include media("md") {}

// @include media("sm") {}

// @include media("xs") {}

// @include media("xxs") {}

/************************  *************************/

/* 	       Forms & Inputs - Print  	        	   */

/************************  *************************/

// @media print {}