/************************  *************************/

/* 			   Basic HTML - Desktop  	       	   */

/************************  *************************/

// <html> Defines an HTML document
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: $font-size-main-px;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}

// * Selects all elements
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    -moz-font-feature-settings: "lnum" !important;
    -ms-font-feature-settings: "lnum" !important;
    -webkit-font-feature-settings: "lnum" !important;
    -o-font-feature-settings: "lnum" !important;
    font-feature-settings: "lnum" !important;
}

// <body> Defines the document's body
body {
    background: var(--poncho_blue_dark);
    color: var(--poncho_white);
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    width: 100%;
}

// <h1> to <h6> Defines HTML headings
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: var(--poncho_orange);
    font-weight: 700;
    letter-spacing: 0.0015rem;
    line-height: 2rem;
}

h1,
.h1 {
    font-size: $font-size-1;
    font-size: $font-size-1-em;
}

h2,
.h2 {
    font-size: $font-size-2;
    font-size: $font-size-2-em;
    margin: 0 0 30px;
}

h3,
.h3 {
    font-size: $font-size-3;
    font-size: $font-size-3-em;
    margin: 0 0 15px;
}

h4,
.h4 {
    font-size: $font-size-4;
    font-size: $font-size-4-em;
    margin: 0 0 10px;
}

h5,
.h4 {
    font-size: $font-size-main;
    font-size: $font-size-main-em;
    margin: 0 0 10px;
}

// <p> Defines a paragraph
p {
    margin: 0 0 10px;
    line-height: 1.65rem;

    a {
        color: var(--poncho_white);
    }
}

// <br> Inserts a single line break
// <hr>	Defines a thematic change in the content

@font-face {
    font-family: pricedown;
    src: url("../fonts/pricedown bl.ttf");
}

/************************  *************************/

/* 	           Basic HTML - Mobile  		       */

/************************  *************************/

// @include media("xxl") {}

@include media("xl") {
    html {
        font-size: $font-size-5;
    }
}

@include media("lg") {
    html {
        font-size: $font-size-6;
    }
}

// @include media("md") {}

@include media("sm") {
    html {
        font-size: $font-size-7;
    }
}

// @include media("xs") {}

// @include media("xxs") {}

/************************  *************************/

/* 			   Basic HTML - Print  			       */

/************************  *************************/

// @media print {}