/************************  *************************/

/* 		        Sections - Desktop  	       	   */

/************************  *************************/

section {
    .inner {
        display: inline-block;
        margin: 0 auto;
        max-width: 100%;
        padding: 80px 50px;
        width: 100%;
        position: relative;
    }

    &.home {
        .left {
            padding-right: 4rem;
            width: 60%;

            .heading {
                margin: 0 0 20px;

                h1 {
                    display: inline-block;
                }
            }

            .description {
                font-size: $font-size-4;
                font-size: $font-size-4-em;
                line-height: 1.85rem;
                margin-bottom: 20px;
            }

            [data-modal-button=buy] {
                font-size: 1.25rem;
                margin-top: 10px;
            }

            .links {
                display: inline-block;
                list-style: none;
                margin: 30px 0 0;
                overflow-x: auto;
                padding: 0;
                white-space: nowrap;
                width: 100%;

                li {
                    display: inline-block;
                    padding: 5px;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                    }

                    a {
                        border-radius: 50%;
                        margin: 0;
                        padding: 0;
                        width: 62px;
                        height: 62px;
                        overflow: hidden;

                        img {
                            border-radius: 50%;
                            height: 100%;
                            position: relative;
                            width: 100%;
                            z-index: 2;

                            &:hover {
                                opacity: 0.85;
                            }
                        }

                        .background {
                            background: var(--poncho_white);
                            height: 100%;
                            left: 0;
                            position: absolute;
                            top: 0;
                            width: 100%;
                            z-index: 1;
                        }
                    }
                }
            }

            .contract {
                -webkit-transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                background: var(--poncho_grey);
                border-radius: 10px;
                margin: 10px 0 0;
                max-width: 600px;
                padding-right: 10px;
                position: relative;
                transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

                &[aria-label]:focus:after,
                &[aria-label]:hover:after {
                    background: var(--poncho_purple);
                    border-radius: 5px;
                    content: attr(aria-label);
                    display: block;
                    font-size: 0.75rem;
                    line-height: 2em;
                    overflow: hidden;
                    padding: 0 10px;
                    position: absolute;
                    right: 0;
                    top: -1.75rem;
                    z-index: 1;
                }

                &.copied {

                    &[aria-label]:after,
                    &[aria-label]:after {
                        background: var(--poncho_green);
                        border-radius: 5px;
                        content: attr(aria-describedby);
                        display: block;
                        font-size: 0.75rem;
                        line-height: 2em;
                        overflow: hidden;
                        padding: 0 10px;
                        position: absolute;
                        right: 0;
                        top: -1.75rem;
                        z-index: 1;
                    }
                }

                img {
                    height: 50px;
                    pointer-events: none;
                    width: 50px;
                    z-index: 1;
                }

                input {
                    padding: 15px 40px 15px 55px;
                    position: absolute;
                    width: 100%;
                }

                i {
                    color: var(--poncho_grey_dark);
                    pointer-events: none;
                    z-index: 1;
                }
            }
        }

        .right {
            width: 40%;

            img {
                float: left;
                max-width: 500px;
                position: relative;
                width: 100%;
            }
        }

        .home-swiper {
            margin: 30px 15px;

            .number-counter {
                background: var(--poncho_blue_dark);
                border-radius: 25px;
                box-shadow: rgba(29, 31, 255, 0.7) 0px 0px 24px 0px;
                display: inline-block;
                margin: 30px;
                padding: 30px;

                .column {
                    display: inline-block;
                    text-align: center;
                    width: 100%;

                    .top {
                        .hidden {
                            display: inline-block;
                            visibility: hidden;
                            width: 0;
                        }

                        .value {
                            margin: 0;
                        }
                    }

                    .bottom {
                        font-size: 0.75rem;
                        font-style: italic;
                    }
                }
            }
        }
    }

    &.divider {
        border-bottom: 2px solid var(--poncho_white);
        border-top: 2px solid var(--poncho_white);

        .h3 {
            color: var(--poncho_white);
            margin: 30px;
        }

        img {
            height: 30px;
            margin: 0 5px 0 10px;
            width: 30px;
        }
    }

    &.about {
        .about-swiper {
            .swiper {
                .swiper-wrapper {
                    .swiper-slide {
                        width: 100%;

                        .lore {
                            background: transparent;
                            background: linear-gradient(90deg, rgba(29, 31, 255, 1) 0%, rgba(29, 26, 122, 1) 40%);
                            border-radius: 25px;
                            padding: 30px;

                            .left,
                            .right {
                                padding: 30px;
                            }

                            .left {
                                img {
                                    border-radius: 5px;
                                    max-width: 350px;
                                }
                            }

                            .right {
                                .button {
                                    margin-top: 15px;
                                }
                            }
                        }
                    }

                }
            }
        }

    }

    &.nfts {
        .poncho-pals {
            img {
                position: relative;
                width: 100%;
                z-index: 2;
            }

            .background {
                border-radius: 25px;
                border: 2px solid var(--poncho_white);
                height: 100%;
                left: 0;
                margin: 0 auto;
                max-width: 700px;
                object-fit: cover;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
                z-index: 1;
            }

            .container {
                padding: 20px 30px;
                text-align: center;

                .logo {
                    max-width: 463px;
                }

                .gif {
                    border: 2px solid var(--poncho_white);
                    margin: 20px auto;
                    max-width: 400px;
                }

                .explore {
                    z-index: 2;

                    img {
                        height: 40px;
                        margin-right: 5px;
                        width: 40px;
                    }
                }
            }
        }
    }

    &.tokenomics {
        .top {
            margin: 0 auto 30px;
            max-width: 1024px;
            text-align: center;
        }

        .left,
        .right {
            margin: 0 20px 20px;
        }
    }

    &.roadmap {
        .roadmap-swiper {
            .swiper {
                .swiper-wrapper {
                    .swiper-slide {
                        .phase {
                            background: var(--poncho_blue_dark);
                            border-radius: 25px;
                            margin: 30px;
                            padding: 30px;

                            &.completed {
                                box-shadow: rgba(20, 200, 92, 0.7) 0px 0px 24px 0px;
                            }

                            &.progress {
                                box-shadow: rgba(255, 153, 0, 0.7) 0px 0px 24px 0px;
                            }

                            h3 {
                                text-align: center;
                            }

                            ul {
                                list-style: none;
                                margin: 0;
                                padding: 0;

                                li {
                                    align-items: center;
                                    display: flex;
                                    padding: 10px;

                                    i {
                                        font-size: 1.5rem;
                                        margin-right: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.faq {
        img {
            max-width: 250px;
        }
    }
}

/************************  *************************/

/* 		        Sections - Mobile   		       */

/************************  *************************/

@media (hover: none) {
    section {
        &.home {
            .left {
                .links {
                    li {
                        a {
                            img {
                                &:hover {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// @include media("xxl") {}

@include media("xl") {
    section {
        &.about {
            .about-swiper {
                .swiper {
                    .swiper-wrapper {
                        .swiper-slide {
                            .lore {
                                .left {
                                    img {
                                        max-width: 250px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include media("lg") {
    section {
        .inner {
            padding: 60px 30px;
        }

        &.home {
            .inner {
                padding: 0 15px;
            }

            .contract {
                margin: 10px auto 0 !important;
            }

            .right img {
                max-width: 350px;
                top: -20px;
            }

            .home-swiper {
                margin: 30px 10px;

                .number-counter {
                    margin: 30px 15px;
                    padding: 30px 15px;
                }
            }
        }

        &.about {
            .about-swiper {
                .swiper {
                    .swiper-wrapper {
                        .swiper-slide {
                            .lore {
                                background: none;
                                padding: 0;

                                .left,
                                .right {
                                    padding: 0;
                                }

                                .left {
                                    padding-bottom: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.nfts {
            .poncho-pals {
                .container {
                    padding: 20px;
                }
            }
        }

        &.tokenomics {
            .top {
                margin: 0 auto 20px;
            }
        }

        &.roadmap {
            .roadmap-swiper {
                .swiper {
                    .swiper-wrapper {
                        .swiper-slide {
                            .phase {
                                margin: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// @include media("md") {}

@include media("sm") {
    section {
        .inner {
            padding: 50px 15px;
        }

        &.home {
            .left {
                .heading {
                    margin: 0 0 20px;

                    h1 {
                        display: block;
                        padding: 0;
                        padding-bottom: 10px;
                    }
                }

                .links {
                    li a {
                        width: 45px;
                        height: 45px;
                    }
                }
            }
        }

        &.nfts {
            .poncho-pals {
                .container {
                    padding: 15px;
                }
            }
        }
    }
}

@include media("xs") {
    section {
        &.roadmap {
            .roadmap-swiper {
                .swiper {
                    .swiper-wrapper {
                        .swiper-slide {
                            width: 100%;

                            .phase {
                                margin: 30px 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// @include media("xxs") {}

/************************  *************************/

/* 			    Sections - Print  			       */

/************************  *************************/

// @media print {}