/************************  *************************/

/* 			      Header - Desktop 		           */

/************************  *************************/

.header {
    margin: 0 auto;
    position: relative;
    z-index: 10000;

    .inner {
        align-items: center;
        background: var(--poncho_orange);
        border: 2px solid var(--poncho_white);
        border-radius: 66px;
        display: flex;
        justify-content: space-between;
        margin: 30px;
        padding: 10px 20px;
    }

    .logo {
        a {
            float: left;
            line-height: 0;

            img {
                max-width: 150px;
                width: 150px;
            }
        }
    }

    nav {
        margin: 20px;

        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;

            li {

                a,
                button.button--link {
                    color: var(--poncho_blue);
                    display: inline-block;
                    font-weight: bold;
                    margin: 0;
                    padding: 0 10px;
                    text-decoration: none;
                    text-transform: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

/************************  *************************/

/* 	              Header - Mobile  	               */

/************************  *************************/

// @include media("xxl") {}

// @include media("xl") {}

@include media("lg") {
    .header {
        .inner {
            margin: 20px;
        }

        .logo {
            a {
                img {
                    max-width: 125px;
                    width: 125px;
                }
            }
        }

        nav {
            display: none;
        }
    }
}

// @include media("md") {}

@include media("sm") {
    .header {
        .inner {
            margin: 15px;
            padding: 10px 15px;
        }

        .logo {
            a {
                img {
                    max-width: 75px;
                    width: 75px;
                }
            }
        }
    }
}

// @include media("xs") {}

// @include media("xxs") {}

/************************  *************************/

/* 			      Header - Print  		           */

/************************  *************************/

// @media print {}