/************************  *************************/

/* 	             Swipers - Desktop   	           */

/************************  *************************/

.button {
    &.swiper-next,
    &.swiper-prev {
        background: none;
        font-size: 2rem;
    
        &.swiper-button-disabled {
            opacity: 0.5;
        }
    }
    
    &.swiper-next {
        margin-left: 10px;
    }
    
    &.swiper-prev {
        margin-right: 10px;
    }
}

.swiper {
    display: inline-block;
    max-width: 100%;

    .swiper-wrapper {
        .swiper-slide {
            width: auto;
        }
    }
}

/************************  *************************/

/* 	             Swipers - Mobile  	               */

/************************  *************************/

// @include media("xxl") {}

// @include media("xl") {}

@include media("lg") {

    .swiper-next,
    .swiper-prev {
        font-size: 1.5rem;
        padding: 10px 15px;
    }
}

// @include media("md") {}

// @include media("sm") {}

@include media("xs") {

    .swiper-next,
    .swiper-prev {
        font-size: 1.25rem;
        padding: 10px;
    }
}

// @include media("xxs") {}

/************************  *************************/

/* 		         Swipers - Print  		           */

/************************  *************************/

// @media print {}