/************************  *************************/

/* 			      Button - Desktop 			       */

/************************  *************************/

.button {
    border: none;
    font-weight: 600;
    text-decoration: none !important;
    white-space: nowrap;

    &--blue {
        background: var(--poncho_blue);
        border: 2px solid var(--poncho_white);
        color: var(--poncho_white);

        &:hover {
            background: var(--poncho_blue_hover);
            color: var(--poncho_white);
        }
    }

    &--green-inverse {
        background: var(--poncho_blue);
        border: 2px solid var(--poncho_white);
        color: var(--poncho_white);

        &:hover {
            background: var(--poncho_green_hover);
            color: var(--poncho_white);
        }
    }

    &--link {
        background: none;
        color: var(--poncho_white);

        &:hover {
            background: none;
            color: var(--poncho_white);
        }
    }

    &--orange-inverse {
        background: var(--poncho_blue);
        border: 2px solid var(--poncho_white);
        color: var(--poncho_white);

        &:hover {
            background: var(--poncho_orange_hover);
            color: var(--poncho_white);
        }
    }

    &--red-inverse {
        background: var(--poncho_blue);
        border: 2px solid var(--poncho_white);
        color: var(--poncho_white);

        &:hover {
            background: var(--poncho_red_hover);
            color: var(--poncho_white);
        }
    }

    &--transparent {
        background: transparent;
        border: none;
        color: var(--poncho_white);

        &:hover {
            background: transparent;
            color: var(--poncho_white);
        }
    }
}

/************************  *************************/

/* 	              Button - Mobile  	 	           */

/************************  *************************/

@media (hover: none) {
    .button {
        &--blue:hover {
            background: var(--poncho_blue) !important;
        }
    }
}

// @include media("xxl") {}

// @include media("xl") {}

@include media("lg") {
    .button {
        padding: 10px 15px;
    }
}

// @include media("md") {}

// @include media("sm") {}

// @include media("xs") {}

// @include media("xxs") {}

/************************  *************************/

/* 			      Button - Print  	               */

/************************  *************************/

// @media print {}