/************************  *************************/

/* 	           Accordion - Desktop   		       */

/************************  *************************/

.accordions {
    margin: 20px auto;
    max-width: 730px;

    &__container {
        display: inline-block;
        width: 100%;

        .accordion {
            -webkit-transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            background: var(--primary_white_light);
            border: 1px solid var(--primary_grey_lightest);
            color: var(--primary_dark);
            margin: 20px 0;
            position: relative;
            text-align: left;
            transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            width: 100%;

            &:not(:first-child):before {
                -webkit-transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                background: var(--primary_grey_lightest);
                content: "";
                height: 1px;
                left: 0;
                opacity: 1;
                position: absolute;
                right: 0;
                top: -1px;
                transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            }

            &:first-child {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            &:last-child {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            &__header {
                -webkit-font-smoothing: auto;
                color: var(--poncho_white);
                font-size: 1rem;
                margin: 0;
                padding: 0;

                .trigger {
                    align-items: center;
                    background: var(--poncho_blue);
                    border: 2px solid var(--poncho_white);
                    border-radius: 50px;
                    color: var(--poncho_white);
                    display: flex;
                    justify-content: space-between;
                    margin: 0;
                    padding: 20px;
                    text-transform: none;
                    width: 100%;

                    &:hover {
                        background: var(--poncho_blue_hover);
                        color: var(--poncho_white);
                    }

                    .title {
                        -webkit-transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                        display: flex;
                        flex-grow: 1;
                        font-weight: 600;
                        text-align: left;
                        transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                    }

                    i {
                        -webkit-transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                        margin-left: 10px;
                        transform: rotate(0deg);
                        transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                    }
                }
            }

            &__panel {
                background: var(--poncho_blue_dark);
                border: 2px solid var(--poncho_white);
                border-bottom-left-radius: 25px;
                border-bottom-right-radius: 25px;
                border-top: 0;
                color: var(--poncho_white);
                display: none;
                line-height: 25px;
                margin: 0 auto;
                padding: 20px;
                width: 95%;
            }

            &--open {
                -webkit-transition: border-width .1s linear, margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                margin: 20px 0;
                transition: border-width .1s linear, margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

                .accordion__header {
                    .trigger {
                        font-weight: bold;

                        i {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
}

/************************  *************************/

/* 	           Accordion - Mobile  		           */

/************************  *************************/

@media (hover: none) {
    .accordions {
        &__container {
            .accordion {
                &__header {
                    .trigger:hover {
                        background: var(--poncho_blue) !important;
                    }
                }
            }
        }
    }
}

// @include media("xxl") {}

// @include media("xl") {}

// @include media("lg") {}

// @include media("md") {}

// @include media("sm") {}

@include media("xs") {
    .accordions {
        &__container {
            .accordion {
                &__panel {
                    width: 90%;
                }
            }
        }
    }
}

// @include media("xxs") {}

/************************  *************************/

/* 		       Accordion - Print 	               */

/************************  *************************/

// @media print {}