/************************  *************************/

/* 	           Particles - Desktop   	           */

/************************  *************************/

#particles {
    // background-image: url("/dist/img/poncho_head.png?v=1");
    // background-repeat: no-repeat;
    // background-size: 50%;
    // background-position: 50% 50%;
    height: 100%;
    left: 0;
    opacity: .2;
    position: fixed;
    top: 0;
    width: 100%;
}

/************************  *************************/

/* 	           Particles - Mobile  	               */

/************************  *************************/

// @include media("xxl") {}

// @include media("xl") {}

// @include media("lg") {}

// @include media("md") {}

// @include media("sm") {}

// @include media("xs") {}

// @include media("xxs") {}

/************************  *************************/

/* 		       Particles - Print  		           */

/************************  *************************/

// @media print {}