/************************  *************************/

/* 			     	  Variables  	       	       */

/************************  *************************/

:root {
    // Colors
    --poncho_blue: #1d1fff;
    --poncho_blue_hover: #1d48ff;
    --poncho_blue_dark: #1d1a7a;
    --poncho_green: #14c85c;
    --poncho_green_hover: #3ae07d;
    --poncho_grey: #eff2f5;
    --poncho_grey_dark: #545454;
    --poncho_orange: #ff9900;
    --poncho_orange_hover: #ffa51f;
    --poncho_purple: #1d104c;
    --poncho_red: #e6453f;
    --poncho_red_hover: #f25d57;
    --poncho_white: #fbffef;
}