/************************  *************************/

/* 			  Breakpoints Variables  	       	   */

/************************  *************************/

// Predefined Break-points
$xxl: 1920px;
$xl: 1200px;
$lg: 1024px;
$md: 992px;
$sm: 768px;
$xs: 480px;
$xxs: 330px;