/************************  *************************/

/* 			     	 Font Variables  	       	   */

/************************  *************************/

// Base body font
$font-size-main: 20;
$font-size-main-px: 20px;
$font-size-main-em: 1rem;

$font-size-1: 52px;
$font-size-1-em: calc(52 / $font-size-main) * 1rem;

$font-size-2: 48px;
$font-size-2-em: calc(48 / $font-size-main) * 1rem;

$font-size-3: 32px;
$font-size-3-em: calc(32 / $font-size-main) * 1rem;

$font-size-4: 24px;
$font-size-4-em: calc(24 / $font-size-main) * 1rem;

$font-size-5: 18px;
$font-size-5-em: calc(18 / $font-size-main) * 1rem;

$font-size-6: 17px;
$font-size-6-em: calc(17 / $font-size-main) * 1rem;

$font-size-7: 16px;
$font-size-7-em: calc(16 / $font-size-main) * 1rem;