<!-- Buy -->
<div class="modal" data-modal="buy">
    <!-- Background -->
    <div class="modal__background"></div>

    <!-- Content -->
    <div class="modal__content">
        <!-- Buttons -->
        <div class="buttons">
            <button class="close" type="button" title="Close"><i class="fa-solid fa-xmark"></i></button>
        </div>

        <!-- Inner -->
        <div class="inner">
            <!-- Header -->
            <div class="header">
                <!-- Title -->
                <h2 class="h3 title">Buy $PONCHO</h2>

                <!-- Uniswap -->
                <p class="font--small"><strong>NOTE:</strong> If you experience issues buying, <a href="https://app.uniswap.org/swap?chain=base&theme=dark&inputCurrency=ETH&outputCurrency=0xC2fE011C3885277c7F0e7ffd45Ff90cADc8ECD12" target="_blank">Click Here</a> to buy directly from Uniswap.</p>
            </div>

            <!-- Body -->
            <div class="body">
                <!-- Uniswap -->
                <iframe src="https://app.uniswap.org/swap?chain=base&theme=dark&inputCurrency=ETH&outputCurrency=0xC2fE011C3885277c7F0e7ffd45Ff90cADc8ECD12" scrolling="no" width="100%" height="720" frameborder="0" allow="fullscreen"></iframe>

                <!-- Flooz -->
                <!-- <iframe src="https://flooz.xyz/embed/trade?swapDisabled=false&swapNetwork=base&swapLockToToken=false&onRampDisabled=false&onRampNetwork=base&onRampAsDefault=true&onRampTokenAddress=0xC2fE011C3885277c7F0e7ffd45Ff90cADc8ECD12&onRampLockToken=true&network=eth&lightMode=false&backgroundColor=transparent&miniappIntent=swap" scrolling="no" width="100%" height="720" frameborder="0" allow="fullscreen; clipboard-read *; clipboard-write *; web-share *; accelerometer *; autoplay *; camera *; gyroscope *; payment *; geolocation *"></iframe>         -->
            </div>
        </div>
    </div>
</div>

<!-- Memes -->
<div class="modal" data-modal="memes">
    <!-- Background -->
    <div class="modal__background"></div>

    <!-- Content -->
    <div class="modal__content">
        <!-- Buttons -->
        <div class="buttons">
            <button class="close" type="button" title="Close"><i class="fa-solid fa-xmark"></i></button>
        </div>

        <!-- Inner -->
        <div class="inner">
            <!-- Header -->
            <div class="header">
                <!-- Title -->
                <h2 class="h3 title">Ponchify Memes</h2>

                <!-- Description -->
                <p>Share your creations on <a href="https://x.com/ponchoBASE" target="_blank">Twitter / X</a> with #Ponchify and <a href="https://t.me/ponchoBASE" target="_blank">Telegram</a>.</p>
            </div>

            <!-- Body -->
            <div class="body">
                <!-- Meme generator -->
                <div class="row meme_generator">
                    <div class="row">
                        <!-- Left -->
                        <div class="col-50 left">
                            <!-- Top -->
                            <div class="row top">
                                <!-- Save -->
                                <button class="button button--red-inverse reset" type="button" title="Reset"><i class="fa-solid fa-arrows-rotate"></i></button>

                                <!-- Edit -->
                                <button class="button button--orange-inverse edit" type="button" title="Edit"><i class="fa-solid fa-pen"></i></button>

                                <!-- Save -->
                                <button class="button button--green-inverse save" type="button" title="Save"><i class="fa-solid fa-floppy-disk"></i></button>

                                <!-- Download -->
                                <button class="button button--blue download" type="button" title="Download"><i class="fa-solid fa-download"></i></button>

                                <!-- Expand -->
                                <button class="button button--blue expand" type="button" title="Expand"><i class="fa-solid fa-expand"></i></button>

                                <!-- Compress -->
                                <button class="button button--blue compress" type="button" title="Compress"><i class="fa-solid fa-compress"></i></button>
                            </div>

                            <!-- Meme -->
                            <div class="meme">
                                <!-- Canvas-->
                                <canvas id="meme_canvas"></canvas>
                            </div>
                        </div>

                        <!-- Right -->
                        <div class="col-50 right">
                            <!-- Buttons -->
                            <div class="row top">
                                <!-- Overflow y -->
                                <div class="overflow--y">
                                    <!-- Add text -->
                                    <button class="button button--blue text" type="button" title="Add Text"><i class="fa-solid fa-paragraph margin--icon xs-margin--none-right"></i> <span class="xs-hide">Text</span></button>

                                    <!-- Add image -->
                                    <label class="button button--blue image" type="button" title="Add Image">
                                        <input type="file" onchange="upload_image(event)">
                                        <i class="fa-solid fa-image margin--icon xs-margin--none-right"></i>
                                        <span class="xs-hide">Image</span>
                                    </label>

                                    <!-- Add icon -->
                                    <button class="button button--blue icon" type="button" title="Add Icon"><i class="fa-regular fa-face-smile"></i></button>

                                    <!-- Add shape -->
                                    <button class="button button--blue shape" type="button" title="Add Shape"><i class="fa-solid fa-shapes"></i></button>
                                </div>

                                <!-- Emoji picker -->
                                <div class="row overflow--y emoji_picker">
                                    <emoji-picker></emoji-picker>
                                </div>
                            </div>

                            <!-- Accordions -->
                            <div class="row accordions margin--none-auto">
                                <!-- Accordions container -->
                                <div class="accordions__container">
                                    <!-- Accordion -->
                                    <div class="accordion margin--none-top">
                                        <!-- Header -->
                                        <h3 class="accordion__header">
                                            <!-- Trigger -->
                                            <button class="trigger" type="button" title="Select Template" aria-expanded="false">
                                                <span class="title">Select Template</span>
                                                <i class="fas fa-chevron-down" aria-hidden="true"></i>
                                            </button>
                                        </h3>

                                        <!-- Panel -->
                                        <div class="accordion__panel" role="region" hidden="">
                                            <!-- Templates -->
                                            <div class="templates">
                                                <!-- Gallery -->
                                                <div class="gallery">
                                                    <!-- Inner -->
                                                    <div class="inner">
                                                        <!-- Upload template -->
                                                        <label class="button button--blue upload" type="button" title="Upload Template">
                                                            <input type="file" onchange="upload_template(event)">
                                                            <i class="fa-solid fa-upload"></i>
                                                        </label>

                                                        <!--Transparent -->
                                                        <button class="template-button" data-template="Transparent" type="button" title="Transparent">
                                                            <img src="/dist/img/memes/templates/_small/Transparent.png?v=3" alt="Transparent" loading="lazy">
                                                        </button>
                                                    </div>

                                                    <!-- More templates -->
                                                    <p class="font--small text-align-center margin--top margin--none-bottom"><strong>NOTE:</strong> Looking for more memes to Ponchify? <a class="no-wrap" href="https://imgflip.com/memetemplates" target="_blank">Click Here</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Accordion -->
                                    <div class="accordion margin--none-top">
                                        <!-- Header -->
                                        <h3 class="accordion__header">
                                            <!-- Trigger -->
                                            <button class="trigger" type="button" title="Select Assets" aria-expanded="false">
                                                <span class="title">Select Assets</span>
                                                <i class="fas fa-chevron-down" aria-hidden="true"></i>
                                            </button>
                                        </h3>

                                        <!-- Panel -->
                                        <div class="accordion__panel" role="region" hidden="">
                                            <!-- Assets -->
                                            <div class="assets">
                                                <!-- Gallery -->
                                                <div class="gallery">
                                                    <div class="row flexbox flexbox--vertical">
                                                        <!-- Asset type -->
                                                        <select class="margin--icon" name="asset-type" title="Asset Type">
                                                            <option disabled>Asset Type</option>
                                                            <option value="1_Fur" selected>1 - Fur</option>
                                                            <option value="2_Eyebrows">2 - Eyebrows</option>
                                                            <option value="3_Mouth">3 - Mouth</option>
                                                            <option value="4_Eyes">4 - Eyes</option>
                                                            <option value="5_Hat">5 - Hat</option>
                                                            <option value="6_Other">6 - Other</option>
                                                        </select>

                                                        <!-- Asset size -->
                                                        <select class="width--auto" name="asset-size" title="Asset Size">
                                                            <option disabled>Asset Size</option>
                                                            <option value="50">50%</option>
                                                            <option value="100" selected>100%</option>
                                                        </select>
                                                    </div>

                                                    <div class="row">
                                                        <!-- Inner -->
                                                        <div class="inner"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Accordion -->
                                    <div class="accordion margin--none manage-layers">
                                        <!-- Header -->
                                        <h3 class="accordion__header">
                                            <!-- Trigger -->
                                            <button class="trigger" type="button" title="Manage Layers" aria-expanded="false">
                                                <span class="title">Manage Layers</span>
                                                <i class="fas fa-chevron-down" aria-hidden="true"></i>
                                            </button>
                                        </h3>

                                        <!-- Panel -->
                                        <div class="accordion__panel" role="region" hidden="">
                                            <!-- Layers -->
                                            <ul class="layers" id="layers"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>